<form class="login-form" action="/auth/newuser" method="POST">
    <div id="caption" class="input-header">{{status}}</div>
    <br>
    <div class="input-header">Username:</div>
    <input type="text" name="username" class="input">
    <div class="input-header">Password:</div>
    <input type="text" name="password" class="input">
    <br>
    <input type="submit" value="Submit" class="button">
    <!-- <a href="/login/signUp">Sign up</a> -->
</form>