/*--------------------------------------------*/
/*----------------~~~GLOBAL~~~----------------*/
/*--------------------------------------------*/
html, body {
	width: 100%;
	/*height: 100%;*/
	overflow-x: hidden;
  /*background: linear-gradient(#87a5ff, white);*/
	background: linear-gradient(#2F7D46, white);
  font-family: verdana;
	/*font-variant: small-caps;*/
	font-size: 18px;
	font-weight: 100;
  color: white;
	background-image: url(../images/albert-melu-9767.jpg);
	background-attachment: fixed;
	background-position: center 30%;
	background-size: cover;
}

.button {
    background-color: rgb(65, 105, 225);
    font-family: arial;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    margin: 10px 2px 0px 2px;
    cursor: pointer;
		font-family: verdana;
		font-size: 15px;
		font-weight: 100;
	}

.input {
	padding: 5px;
	font-family: verdana;
	font-size: 15px;
	font-weight: 100;
	margin-top: 5px;
	margin-bottom: 5px;
}
.input-header {
	font-family: verdana;
	/*font-variant: small-caps;*/
	font-size: 25px;
	font-weight: 100;
}

.login-form {
	padding: 40px 100px;
	/*border: 1px solid grey;*/
	width: auto;
	height: auto;
	/*z-index: -1;*/
	position: fixed;
	box-shadow: 0px 0px 50px white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 70px;
  background-color: rgba(0, 0, 0, .4);
}

#caption {
	font-family: verdana;
	/*font-variant: small-caps;*/
	font-size: 15px;
	font-weight: 100;
}